@font-face {
    font-family: gotham pro;
    font-style: normal;
    font-weight: 400;
    src: local('Gotham Pro'), url(https://fonts.cdnfonts.com/s/12664/GothaProReg.woff) format('woff')
}

@font-face {
    font-family: gotham pro;
    font-style: normal;
    font-weight: 400;
    src: local('Gotham Pro'), url(https://fonts.cdnfonts.com/s/12664/GothaProBla.woff) format('woff')
}

@font-face {
    font-family: gotham pro;
    font-style: normal;
    font-weight: 400;
    src: local('Gotham Pro'), url(https://fonts.cdnfonts.com/s/12664/GothaProLig.woff) format('woff')
}

@font-face {
    font-family: gotham pro;
    font-style: normal;
    font-weight: 400;
    src: local('Gotham Pro'), url(https://fonts.cdnfonts.com/s/12664/GothaProMed.woff) format('woff')
}

@font-face {
    font-family: gotham pro light;
    font-style: italic;
    font-weight: 400;
    src: local('Gotham Pro'), url(https://fonts.cdnfonts.com/s/12664/GothaProLig.woff) format('woff')
}

@font-face {
    font-family: gotham pro;
    font-style: normal;
    font-weight: 700;
    src: local('Gotham Pro'), url(https://fonts.cdnfonts.com/s/12664/GothaProBol.woff) format('woff')
}

@font-face {
    font-family: gotham pro medium;
    font-style: italic;
    font-weight: 500;
    src: local('Gotham Pro Medium'), url(https://fonts.cdnfonts.com/s/12664/GothamProMediumItalic.woff) format('woff')
}
@font-face {
    font-family: gotham pro medium;
    font-style: italic;
    font-weight: 500;
    src: local('Gotham Pro Medium'), url(https://fonts.cdnfonts.com/s/12664/GothamProMediumItalic.woff) format('woff')
}